/*
mis estilos XD
*/
.has-error .form-control {
    border-color: #ef5350;
    box-shadow: none !important;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #a94442
}

.required {
    color: #a94442
}

/*  */
.bg-blue {
    background-color: #0a2dc9 !important;
}

.bg-success-1 {
    background-color: #43beac !important;
}
